{% extends "Guatemalan_Tax_System/legacy.html" %}
{% load static %}
    {% block content %}
    

    <!-- MASTERMIND -->
    <div class="amazing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="amazing-box">
                        <h2>Miembro Fundador</h2>
                        <span> Erwin Fernando Vásquez Peñate</span>
                        <br>
                        <span> IPC2 SECCIÓN 'E'</span>
                        <br>
                        <span> PROYECTO 3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- MASTERMIND -->
    <center>
        <h1>Documentación</h1>
        <form action="documentation">
            <li><button class="dropdown-item" >Ensayo.pdf</button></li>  
        </form>
    </center>
    {% endblock %}
    