{% extends "Guatemalan_Tax_System/legacy.html" %}
{% load static %}
    {% block content %}
    <section >
        <div class="banner-main">
        <img src="{% static 'Guatemalan_Tax_System/images/bann.jpg' %}" alt="#"/>
        <div class="container">
            <div class="text-bg">
                <h1>Guatemalan<br><strong class="white">Tax System</strong></h1>
            </div>
        </div>
    </section>
    <!-- Amazing -->
        <div id="ama"class="amazing">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="amazing-box">
                            <h2>Miembro Fundador</h2>
                            <span> Erwin Fernando Vásquez Peñate, también conocido como Erwin14k, es un estudiante de   Ingeniería en Ciencias y Sistemas de la facultad de ingeniería de la Universidad de San Carlos, actualmente tiene 20 años de edad y es de orígen Guatemalteco.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- end Amazing -->
    {% endblock %}
    