{% extends "Guatemalan_Tax_System/legacy.html" %}
{% load static %}
    {% block content %}
    <div class="container">
        {% load static %}
        <form method="post" enctype="multipart/form-data" action="upload">
        {% csrf_token %}
            <div class="input-group">
                <input type="file" name="document" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Cargar Archivo</button>
            </div>
        </form>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post" action="send">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-primary">ENVIAR</button>
                    </form> 
                    <br>
                    <form method="post" action="get_output_xml">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">CONSULTAR DATOS</button>
                    </form>               
                    <br>
                    <br>
                {% if isEmpty %}
                <div class="input-group">
                    <span class="input-group-text">Input</span>
                    <textarea class="form-control" aria-label="With textarea" rows="24" disabled>{{ isEmpty }}</textarea>
                </div>
                {% else %}
                <div class="input-group">
                    <span class="input-group-text">Input</span>
                    <textarea class="form-control" aria-label="With textarea" rows="24" ></textarea>
                </div>
            {% endif %}
            </div>

            <div class="col">  
                <br>
                <br>
                <br>
                <button type="submit" class="btn btn-danger">RESET</button>
                <br>
                <br>
                {% csrf_token %}
                {% if isEmpty2 %}
                <div class="input-group">
                    <span class="input-group-text">Output</span>
                    <textarea class="form-control" aria-label="With textarea" rows="24" disabled>{{ isEmpty2 }}</textarea>
                </div>
                {% else %}
                <div class="input-group">
                    <span class="input-group-text">Output</span>
                    <textarea class="form-control" aria-label="With textarea" rows="24" disabled></textarea>
                </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
    